<div class="container-fluid">
    <div class="row row-stat">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-divider" style="text-align: center; text-transform:uppercase;">
                    <h2 style="color: lightseagreen;"><strong>Send Notification for App Update</strong></h2>
                </div>
                <br>
                <br>
                <form class="form-horizontal" (ngSubmit) = "onsubmitt()">
                    <br>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Send Notification</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><br><hr>